//Colors

$primary-light: #2c2c2c;
$primary-dark: #2a2a2a;
$secondary: #b9b9b9;
$secondary-h: #999999;
$background: #efefef;
$background-h: #d8d8d8;
$tertiary: #dcdcdc;
$tertiary-h: #979797;
$warning: #f2a723;
$info: #1c91ed;
$confirm: #58b486;

